@font-face {
    font-family: 'gilroyheavy';
    src: url('fonts/gilroy-heavy-webfont.woff2') format('woff2'),
         url('fonts/gilroy-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroyregular';
    src: url('fonts/gilroy-regular-webfont.woff2') format('woff2'),
         url('fonts/gilroy-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroyextrabold';
    src: url('fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('fonts/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroysemibold';
    src: url('fonts/gilroy-semibold-webfont.woff2') format('woff2'),
         url('fonts/gilroy-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroyblack';
    src: url('fonts/Gilroy-Black.woff2') format('woff2'),
         url('fonts/Gilroy-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin:0px;
    padding:0px;
    background-color: #051626;
    color: white;
}

nav{
    display: flex;
    font-family: 'gilroysemibold', sans-serif;
    justify-content: space-between;
    padding-left: 5%;
    padding-right:5%;
    padding-top: 1%;
    align-items: center;
    height: 15vh;
}

ul{
    padding-left:0%;
    padding-top: 1%;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.dropdown{
    display:flex;
    flex-direction: column;
    align-items: center;
}

nav ul li.dropdown ul{
    display:none;
    position: absolute;
    margin-right:13px;
}

nav ul li.dropdown ul li{
    margin-top: 23px;
    margin-left: 15px;
    margin-right: 15px;
}

nav ul li.dropdown ul li a{
    font-size: 20px;
}

nav ul li.dropdown:hover ul{
    display: flex;
    cursor: pointer;
}

#comprar-counter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    top: 23px;
    background-color: #2ec4b6;
}

#comprar-counter{
    font-size: 20px;
}

.rucs{
    color: #2ec4b6;
}

.lucks{
    color: #e71d36;
}

.mis{
    color: #f0dc03;
}

#center-ul{
    padding-right:5%;
    padding-top:1%;
}

#right-ul{
    display: flex;
    padding-right: 2%;
}


#logo{
    width: 150px;
    height: auto;
    padding-top: 1%;
}

#login-item{
    display:block;
    text-align: center;
    padding-top:0%;
    padding-right: 30px;
}

#cart{
    width: 30px;
    height: auto;
    padding-left: 60%;
    padding-top: 4%;
}

main{
    height: 84vh;
    max-width:100%;
    width: 100vw;
    min-height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h2, h1{
    font-family: "gilroyextrabold", sans-serif;
}

h2{
    height: 20vh;
    margin-top:0;
    margin-bottom: 0;
}

#why{
    position: relative;
    bottom: 90px;
    left:5px;
    font-size:22px;
    width: 30vw;
    margin-top: 0;
}

#aspas{
    color:#6ce4d8;
    font-size: 120px;
    font-family: "gilroyblack", sans-serif;
    margin: 0;
    padding:0;
}

#texto-container{
    padding-left: 7%;
    padding-top: 1%;
    width: 55vw;
}

.custom-options span:first-child{
    position: absolute;
    display: none;
}

#vantagens{
    display: flex;
    justify-content: space-between;
}

.vantagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    font-family: "Gilroyregular",sans-serif;
    text-align: justify;
    word-break: break-all;
}

.vantagem img{
    width: 100px;
    fill: #ff9f1c;
}

.vantagem h3{
    text-align: center;
    font-family: "Gilroyextrabold",sans-serif;
    margin-bottom: 3px;
    font-size: 25px;
}

#vantagens div:nth-child(2) h3{
    margin-top: 25px;
}

#vantagens div:nth-child(2) p{
    margin-top: 17px;
}

#info-container{
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 10px;
    margin-right: 130px;
    width: 280px;
    background-color: white;
    height: 75%;
    align-self: center;
    border-radius: 30px 30px 30px 5px;
    position: relative;
    bottom: 20px;
}

#imgColeira{
    width: 280px;
}

#preco, #nome{
    color: #051626;
}

#nome{
    margin-top:0px;
}

#preco{
    margin: 0;
    font-family: "gilroyextrabold", sans-serif;
    font-size: 30px;
}

#preco-comprar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.comprar{
    height: 100%;
    background-color: #2ec4b6;
    border:0;
    border-radius: 15px 15px 15px 3px;
    font-family: "gilroysemibold",sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
}
.comprar:hover{
    background-color: #3fdfcf;
    transform: translateY(-2px);
    box-shadow: 0 0 .3em rgba(0, 0, 0, 0.25);
    background-position: 0;
}

.comprar p{
    padding-right: 10px;
}

#cart2{
    width: 20px;
    padding-right: 10px;
}

footer{
    height: 190px;
    padding-left: 100px;
    padding-top: 10px;
    background-color: white;
    color: #051626;
    font-family: "gilroyregular",sans-serif;
}

#footerContainer{
    display: grid;
    grid-template-columns: 190px 190px 220px 210px;
    grid-template-rows: 40px 25px 25px;
    padding-top: 25px;
}

#localizacaoHeader{
    font-family: "gilroyextrabold",sans-serif;
    grid-row:1/2;
    grid-column: 3/4;
    font-size: 21px;
}

#opiniaoHeader{
    font-family: "gilroyextrabold",sans-serif;
    font-size: 21px;
    grid-row: 1/2;
    grid-column: 4/5;
}

#contactosHeader{
    font-family: "gilroyextrabold",sans-serif;
    font-size: 21px;
}

#linkOpiniao{
    color: #051626;
    font-family: "gilroysemibold";
}

#footerContainer p:nth-child(10){
    grid-row: 2/3;
    grid-column: 4/5;
}

#footerContainer p:nth-child(11){
    grid-row: 3/4;
    grid-column: 4/5;
}

#footerContainer p:nth-child(2){
    grid-row: 2/3;
    grid-column: 1/2;
}

#footerContainer p:nth-child(3){
    grid-row: 3/4;
    grid-column: 1/2;
}
#footerContainer p:nth-child(7){
    grid-row: 2/3;
    grid-column: 3/4;
}

#footerContainer p:nth-child(8){
    grid-row: 3/4;
    grid-column: 3/4;
}

#footerContainer p:nth-child(5){
    grid-row: 3/4;
    grid-column: 2/3;
}

#footerContainer p:nth-child(4){
    grid-row: 2/3;
    grid-column: 2/3;
}

.custom-select-wrapper {
    position: relative;
    user-select: none;
    width: 40%;
    bottom: 7px;
}
.custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 40px;
}
.custom-select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    font-size: 15px;
    font-weight: 300;
    color: #3b3b3b;
    height: 40px;
    line-height: 60px;
    background: #ffffff;
    cursor: pointer;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(5, 22, 38);
    border-radius: 10px 10px 10px 2px;
    font-family: "Gilroy-Semibold",sans-serif;
}


.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border: 4px solid rgb(5, 22, 38);
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
    font-family: "Gilroy-Semibold",sans-serif;
}
.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.custom-option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 22px;
    font-weight: 300;
    color: #3b3b3b;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 3px 3px 3px 3px;
}
.custom-option:hover {
    cursor: pointer;
    background-color: #b2b2b2;
}
.custom-option.selected {
    color: #ffffff;
    background-color: rgb(46, 196, 182);
    border-radius: 3px 3px 3px 3px;
}

.arrow {
    position: relative;
    height: 15px;
    width: 15px;
}
.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
}
.arrow::before {
    left: -5px;
    transform: rotate(45deg);
    background-color: #394a6d;
}
.arrow::after {
    left: 5px;
    transform: rotate(-45deg);
    background-color: #394a6d;
}
.open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
}
.open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
}

