@font-face {
    font-family: 'gilroyheavy';
    src: url('fonts/gilroy-heavy-webfont.woff2') format('woff2'),
         url('fonts/gilroy-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroyregular';
    src: url('fonts/gilroy-regular-webfont.woff2') format('woff2'),
         url('fonts/gilroy-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroyextrabold';
    src: url('fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('fonts/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroysemibold';
    src: url('fonts/gilroy-semibold-webfont.woff2') format('woff2'),
         url('fonts/gilroy-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html{
    margin:0;
    padding:0;
    height: 100%;
    display:grid;
}


.login{
    margin:auto;
    position: relative;
    top:6%;
}

.login-form{
    display: flex;
    flex-direction: column;
    position: relative;
}

#login-text{
    text-align: left;
    position: relative;
    right: 30%;
    bottom: 20px;
    font-family:'gilroyheavy',sans-serif ;
    color: #011627;
    font-size: 60px;
    margin: 0;
}

.label{
    /* Position the label */
    left: -80px;
    position: absolute;
    top: 140px;
    width: 30%;
    text-align: center;

    font-family: "gilroyextrabold",sans-serif;
    color: #011627;
    font-size: 26px;
    border-radius: 10px 10px 10px 2px;

    /* Hide it by default */
    opacity: 0;
    transition: 'all 200ms',
}

#lbl-nome{
    top:11px;
    width: 60%;
}

#lbl-pw{
    top: 270px;
    width: 57%;
}

#lbl-cpw{
    top: 399px;
    width: 92%;
}

#eye{
    position: absolute;
    right: -95px;
    bottom: 211px;
    color: white;
    z-index: 1;
    cursor: pointer;
}

#eye2{
    position: absolute;
    right: -95px;
    bottom: 83px;
    color: white;
    z-index: 1;
    cursor: pointer;
}


/* Show the label at desired position when the placeholder of input isn't shown */
.login-form input:not(:placeholder-shown) + label {
    background: white;
    transform: translate(0, -50%);
    opacity: 1;
}

input{
    margin: 5%;
    background-color: #011627;
    color: white;
    border: 0;
    border-radius: 25px 25px 25px 4px;
    line-height: 3.5em;
    max-width: 600px;
    width: 190%;
    position: relative;
    right: 36%;
    font-family: "gilroysemibold",sans-serif;
    font-size: 1.2em;
    padding-top: 4px;
    padding-left: 30px;
    outline:none;
    cursor: text;
}

input::placeholder{
    font-family: "gilroyextrabold",sans-serif;
    font-size: 1.4em;
}

a{
    text-decoration: none;
    color: #011627;
    font-family:"gilroysemibold",sans-serif;
    outline:none;
}

.links{
    text-align: center;
}


.angled-gradient-button {
    background-size: 220%;
    color:#ff9f1c;
    background-color: transparent;
    background-position: 100%;
    border: 3px solid#ff9f1c;
    transition: all .2s ease-out;
    font-family:"gilroyextrabold",sans-serif;
    outline: none;
    cursor: pointer;
    margin: auto;
    position: relative;
    left:20%;
    margin-top: 10%;
    margin-bottom: 40px;
    line-height: 2.8em;
    width: 60%;
    font-size: 1.6em;
    border-radius: 17px 17px 17px 3px;
    background-image: linear-gradient(110deg, #ff9f1c 0%, #ff9f1c 50%, transparent 50%, transparent 100%);
}

.angled-gradient-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 .3em rgba(0, 0, 0, 0.25);
    background-position: 0;
    color: #fff;
}

.angled-gradient-button:active {
    transform: translateY(-1px);
}

#parte2{
        position: absolute;
        top: 0;
        left: 0; 
        right: 0;
        bottom: 0;
        background: #fb1;
}

@media screen and (max-width:620px){
    .login{
        width: 220px;
        left: 0%;
    }

    .angled-gradient-button{
        width: 140%;
        left:-20%;
    }

    #lbl-nome{
        top:2px;
        width: 110%;
    }

    #lbl-pw{
        top: 228px;
        left: -40px;
        width: 102%;
    }
    
    #lbl-cpw{
        top: 340px;
        left: -40px;
        width: 158%;
    }
    .login-form label{
        width: 65%;
        top: 115px;
        left: -40px;
    }

    .login-form{
        right: 50px;
    }
    
    #login-text{
        right:49%;
    }

    #eye{
        left:325px;
        top:263px;
    }

    #eye2{
        left:325px;
        top:375px;
    }
}


@media screen and (max-width:450px){
    .login{
        width: 160px;
        margin-left: 120px;
    }

    .angled-gradient-button{
        left: -26%;
    }

    .links{
        position: relative;
        left: -6%;
    }
}

