@font-face {
    font-family: 'gilroyheavy';
    src: url('fonts/gilroy-heavy-webfont.woff2') format('woff2'),
         url('fonts/gilroy-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroyregular';
    src: url('fonts/gilroy-regular-webfont.woff2') format('woff2'),
         url('fonts/gilroy-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroyextrabold';
    src: url('fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('fonts/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroysemibold';
    src: url('fonts/gilroy-semibold-webfont.woff2') format('woff2'),
         url('fonts/gilroy-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gilroyblack';
    src: url('fonts/Gilroy-Black.woff2') format('woff2'),
         url('fonts/Gilroy-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin:0px;
    padding:0px;
    color: #011627;
}

nav{
    display: flex;
    font-family: 'gilroysemibold', sans-serif;
    justify-content: space-between;
    padding-left: 5%;
    padding-right:5%;
    padding-top: 1%;
    align-items: center;
    height: 15vh;
}

ul{
    padding-left:0%;
    padding-top: 1%;
    list-style: none;
}

a{
    text-decoration: none;
    color: #011627;
}

.dropdown{
    display:flex;
    flex-direction: column;
    align-items: center;
}

nav ul li.dropdown ul{
    display:none;
    position: absolute;
    margin-right:13px;
}

nav ul li.dropdown ul li{
    margin-top: 23px;
    margin-left: 15px;
    margin-right: 15px;
}

nav ul li.dropdown ul li a{
    font-size: 20px;
}

nav ul li.dropdown:hover ul{
    display: flex;
    cursor: pointer;
}

#comprar-counter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    top: 23px;
    background-color: #ff9f1c;
}

#comprar-counter{
    font-size: 20px;
}

.rucs{
    color: #2ec4b6;
}

.lucks{
    color: #e71d36;
}

.mis{
    color: #f0dc03;
}

#center-ul{
    padding-right:5%;
    padding-top:1%;
}

#right-ul{
    display: flex;
    padding-right: 4%;
}


#logo{
    width: 150px;
    height: auto;
    padding-top: 1%;
}

#login-item{
    display:block;
    text-align: center;
    padding-top:0%;
    padding-right: 30px;
}

#cart{
    width: 30px;
    height: auto;
    padding-left: 60%;
    padding-top: 4%;
}

main{
    width: 100%;
    height: 138vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#container{
    width: 70vw;
    height: 80vh;
    position: relative;
    right: 30px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#container>h2{
    font-family: "Gilroy-Black",sans-serif;
    color: #011627;
    font-size: 45px;
    margin-bottom: 10px;
    align-self: flex-start;
}

#container2{
    display:flex;
    width: 100%;
    justify-content: space-between;
}

#telemovelDiv{
    align-self: flex-start;
}

#utilizadorDiv, #moradaDiv, #pagamentoDiv{
    width: 30vw;
}

#utilizadorDiv h4, #moradaDiv h4, #pagamentoDiv h4{
    text-align: center;
}

h4{
    font-family: "gilroyextrabold",sans-serif;
}

h5{
    font-family: "gilroysemibold",sans-serif;
    padding-left: 29px;
    font-size: 16px;
    margin-bottom: 12px;
    margin-top: 32px;
    color:#ff9f1c;
}

#moradaAtualDiv,#pagamentoAtualDiv,#utilizadorAtualDiv{
    font-family: "gilroyregular";
    padding-left: 30px;

}

#moradaAtualDiv p, #pagamentoAtualDiv p,#utilizadorAtualDiv p{
    margin: 5px 0;
}

label{
    font-family: "gilroysemibold",sans-serif;
    align-self: flex-start;
    margin-top: 5px;
    margin-right: 95%;
}

form{
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#lbl-porta, #lbl-infoextra,#lbl-nCartao,#lbl-passe,#lbl-user,#lbl-email{
    width: 60%;
}

input{
    margin: 5%;
    background-color: #011627;
    color: white;
    border: 0;
    border-radius: 8px 8px 8px 2px;
    line-height: 2em;
    max-width: 600px;
    width: 100%;
    position: relative;
    bottom: 12px;
    font-family: "gilroysemibold",sans-serif;
    font-size: 1em;
    padding-top: 4px;
    padding-left: 10px;
    outline:none;
    cursor: text;
    margin: 0;
}

input::placeholder{
    font-family: "gilroyextrabold",sans-serif;
    font-size: 0.9em;
}

#telemovelDiv{
    width: 100%;
    background-color: #ff9f1c;
    border-radius: 13px 13px 13px 2px;
    margin-top: 50px;
    display:flex;
}

#telemovelDiv h4{
    font-size: 50px;
    color: #182835;
    padding-left: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 100%;
    font-family: "gilroyextrabold",sans-serif;
}

#phoneHeader{
    width: 60%;
}

#phoneHeader p{
    color: white;
    font-family: "gilroyextrabold",sans-serif;
    margin: 0;
    padding-top: 20px;
    padding-left: 40px;
    font-size: 23px;
}

#phone{
    background-color: white;
    width: 50%;
    height: 50px;
    color: #051626;
    font-size: 20px;
}

#phoneRight{
    height: 200px;
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 40px;
}

#phoneRight>p{
    text-align: center;
    font-family: "gilroyextrabold",sans-serif;
    font-size: 25px;
    width: 320px;
    padding-top: 15px;
    margin-bottom: 30px;
    color:#051626;
}

#btnGuardar1{
    height: 40px;
    background-color:#ff9f1c;
    border:0;
    border-radius: 12px 12px 12px 3px;
    font-family: "gilroysemibold",sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    margin-top: 10px;
    margin-left:30px;
}

#btnGuardar1:hover{
    background-color: #ffb349;
}

#btnGuardar2{
    height: 40px;
    background-color:#ff9f1c;
    border:0;
    border-radius: 12px 12px 12px 3px;
    font-family: "gilroysemibold",sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    margin-top: 10px;
    margin-left:30px;
}

#btnGuardar2:hover{
    background-color: #ffb349;
}

#btnGuardar3{
    height: 40px;
    background-color:#ff9f1c;
    border:0;
    border-radius: 12px 12px 12px 3px;
    font-family: "gilroysemibold",sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    margin-top: 10px;
    margin-left:30px;
}

#btnGuardar3:hover{
    background-color: #ffb349;
}

footer{
    height: 190px;
    padding-left: 100px;
    padding-top: 10px;
    background-color: #051626;
    color: white;
    font-family: "gilroyregular",sans-serif;
}

#footerContainer{
    display: grid;
    grid-template-columns: 190px 190px 220px 210px;
    grid-template-rows: 40px 25px 25px;
    padding-top: 25px;
}

#localizacaoHeader{
    font-family: "gilroyextrabold",sans-serif;
    grid-row:1/2;
    grid-column: 3/4;
    font-size: 21px;
}

#opiniaoHeader{
    font-family: "gilroyextrabold",sans-serif;
    font-size: 21px;
    grid-row: 1/2;
    grid-column: 4/5;
}

#contactosHeader{
    font-family: "gilroyextrabold",sans-serif;
    font-size: 21px;
}

#linkOpiniao{
    color: white;
    font-family: "gilroysemibold";
}

#footerContainer p:nth-child(10){
    grid-row: 2/3;
    grid-column: 4/5;
}

#footerContainer p:nth-child(11){
    grid-row: 3/4;
    grid-column: 4/5;
}

#footerContainer p:nth-child(2){
    grid-row: 2/3;
    grid-column: 1/2;
}

#footerContainer p:nth-child(3){
    grid-row: 3/4;
    grid-column: 1/2;
}
#footerContainer p:nth-child(7){
    grid-row: 2/3;
    grid-column: 3/4;
}

#footerContainer p:nth-child(8){
    grid-row: 3/4;
    grid-column: 3/4;
}

#footerContainer p:nth-child(5){
    grid-row: 3/4;
    grid-column: 2/3;
}

#footerContainer p:nth-child(4){
    grid-row: 2/3;
    grid-column: 2/3;
}
